button.large{
	font-size: x-large;
	background-color: #90ff90;
	border-style: ridge;
	border-width: 5px;
	border-color: #ffff70;

}

h1{
	font-size: 100px;
	color: #000000;
	border-style: ridge;
	border-width: 5px; 

}
body.whole{
	background-color: #00eeff;
}
